.card{
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
}
.blue-text{
    color: #00BCD4
}
.form-control-label{
    margin-bottom: 0
}
input, textarea, button
{padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300}
input:focus, textarea:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #E5A055;
    outline-width: 0;font-weight: 400
}
.btn-block{text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}
.btn-block:hover{
    color: #E5A055 !important
}

button:focus{-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0}

.button{
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius:10px;
  padding: 0.5em 1.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1.5;
  background-color: var(--clr-neutral-black);
  color:var(--clr-primary-neutral);
  box-shadow: 0 1.125em 1em -1em var(--clr-accent-black);
}

.button[data-type="inverted"] {
    background-color: var(--clr-primary-neutral);
    color: var(--clr-neutral-black);
    font-size: 15px;
  }
  
  .button[data-shadow="none"]{
    box-shadow: none;
  
  }
  
  .button:hover,
  .button:focus-visible{
    background-color: var(--clr-primary-orange);
  }