* {
    box-sizing: border-box;
  }

.poem{
    line-height: 2rem;

}
p {
    font-size: 20px;
  }


/* Image Container */
.main-container{
    position: relative;
    margin-top: 1rem;
    width: 100px;
    margin-bottom: 5rem;
   
}

#lyn2{
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: -54px;
    transform: scale(1.5) rotate(-15deg);
   
}
#lyn3{
    position: absolute;
    z-index: 2;    /* Place this image in front of the img1 */
    width: 100%;
    left: 7px;
    top: 0;
    transform: scale(1.5)
}
#lyn1{
    position: absolute;
    z-index: 3;    /* Place this image in front of the img2 */
    width: 100%;
    left: 67px;
    top:0;
    transform: scale(1.5) rotate(15deg);
}

/* @media(min-width:1024px){
    #lyn2, #lyn1, #lyn3 {
      transform: scale(5);
    }
  } */

.main-grid{
    display: grid;
    place-content: center;
}